*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

h1{
    display: flex;
    justify-content: start;
    text-align: center;
    color: #070706;
    margin-top: 1rem;
}

body{
    background-color: antiquewhite;
    font-size: 1.5rem
}

.container{
    display: flex;
    justify-content: end;
    gap: 15px;
    border: 3px solid #f4d403;
}

.HOME{
    text-decoration: none;
    color: #0a0a0a;
    font-size: 1.5rem;
    width: 150px;

}

.menu-link{
    text-decoration: none;
    color: #0a0a0a;
    font-size: 1.5rem;
}