*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    height: 40rem;
    margin: 0 auto;
    background-color: antiquewhite;
    /* gap: 3px; */


    /* FLEX */
    display: flex;
    flex-direction: row;
    /* esto centra en el eje principal */
    justify-content: space-evenly;
    
    
    
}

.box{
    width: 50px;
    height: 50px;
    background-color: black;
}